<div class="page page-table" data-ng-controller="activenodeCtrl">
    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active"><a href="#/activenodes/">Activenodes</a></li>
            </ol>
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="panel panel-default">
		<div class="panel-heading">Active Activenodes </div>
        <div class="panel-body table-responsive">
            <form>
                <div class="col-md-8">
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search for activenode" ng-model="search">
                    </div>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th ng-click='sortColumn("counter")' ng-class='sortClass("counter")'>Counter</th>
                        <th ng-click='sortColumn("id")' ng-class='sortClass("id")'>ID</th>
                        <th ng-click='sortColumn("activenode_account")' ng-class='sortClass("activenode_account")'>Account</th>
						<th ng-click='sortColumn("missed_activities")' ng-class='sortClass("missed_activities")' class="align-right">% of missed activities</th>
                        <th class="align-right" ng-click='sortColumn("activities_sent")' ng-class='sortClass("activities_sent")'>Total activities</th>
                    </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="a in active_activenodes | orderBy:column:reverse | filter:search">
                    <td>{{a.counter}}</td>
                    <td><a href="#/objects/{{a.id}}/">{{a.id}}</a></td>
                    <td><a href="#/accounts/{{a.activenode_account}}/">{{a.activenode_account_name}}</a></td>
					<td class="align-right">{{a.missed_activities | number}} %</td>
                    <td class="align-right">{{a.activities_sent | number}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Standby Activenodes </div>
        <div class="panel-body table-responsive">
            <form>
                <div class="col-md-8">
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search for standby activenode" ng-model="search2">
                    </div>
                </div>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th ng-click='sortColumn2("counter")' ng-class='sortClass2("counter")'>Counter</th>
                    <th ng-click='sortColumn2("id")' ng-class='sortClass2("id")'>ID</th>
                    <th ng-click='sortColumn2("activenode_account")' ng-class='sortClass2("activenode_account")'>Account</th>
                    <th>Penalty left</th>
                </tr>                    
                </thead>
                <tbody>
                    <tr data-ng-repeat="a in standby_activenodes | orderBy:column:reverse | filter:search">
                        <td>{{a.counter}}</td>
                        <td><a href="#/objects/{{a.id}}/">{{a.id}}</a></td>
                        <td><a href="#/accounts/{{a.activenode_account}}/">{{a.activenode_account_name}}</a></td>
                        <td>{{a.penalty_left}} days</td>
                    </tr>
                    </tbody>
            </table>
        </div>
    </div>

</div>
